<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Arial';
            background-color: #e8e7e3;
        }
    </style>
</head>
<body>
<h2> Yes, you can travel to {{ answer }} these days </h2>
<div><a href="">See more about {{ answer }} ... </a></div>
</body>
</html>